{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
<style>
    .custom1{
        border-radius: 1px;
    }
</style>

{% endblock %}
{% block body %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}
<h1>Please Login.</h1><br>
<div class="jumbotron">
    <div class="container">
    <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username,class="custom1") }}
        {{ wtf.form_field(form.password,class="custom1") }}
        {{ wtf.form_field(form.remember) }}<br>
        <button class="btn btn-secondary" type="submit">Login</button>
    </form>
    </div>
</div>
{% endblock %}